.button {
  background: #00a1e2;
  font-family: Arial, sans-serif;
  color: #fff;
  border-radius: 0.625rem;
  border: 0;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: block;
  transition: all 0.2s ease;
  box-shadow: 0 0.25rem 0.34375rem 0 rgba(0, 0, 0, 0.07);
  width: 100%;
}

.button:hover {
  filter: contrast(115%);
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.status {
  color: #fff;
  display: flex;
  justify-content: center;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  background-color: #00a1e2;
  font-size: 1.375rem;
  text-indent: -99999px;
  margin: 0 auto;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  box-shadow: inset 0 0 0 0.125rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}

.spinner:before {
  width: 0.65rem;
  height: 1.275rem;
  background: #00a1e2;
  border-radius: 1.275rem 0 0 1.275rem;
  top: -0.0125rem;
  left: -0.0125rem;
  -webkit-transform-origin: 0.65rem 0.6375rem;
  transform-origin: 0.65rem 0.6375rem;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 0.65rem;
  height: 0.6375rem;
  background: #00a1e2;
  border-radius: 0 0.6375rem 0.6375rem 0;
  top: -0.00625rem;
  left: 0.6375rem;
  -webkit-transform-origin: 0 0.6375rem;
  transform-origin: 0 0.6375rem;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.paymentMessage {
  color: rgb(105, 115, 134);
  font-size: 1rem;
  line-height: 1.25rem;
  padding-top: 0.75rem;
  text-align: center;
}
