@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type="checkbox"] {
  background-color: green;
}

.custom_calendar {
  border-radius: 0 0 1rem 1rem !important;
  border: 1px solid #d7dcde !important;
  background: #fff;
}
.custom_calendar .Calendar {
  border-radius: none !important;
  border: none !important;
  box-shadow: none;
}

.Calendar {
  max-width: 300px !important;
  border-radius: 0 0 1rem 1rem !important;
  border: 1px solid #d7dcde !important;
  margin: 0 auto !important;
}

@media (max-width: 768px) {
  .Calendar {
    min-width: 100% !important;
  }
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.fade-in {
  animation: fade-in-animation 0.5s ease-in-out;
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fade-out-animation 0.5s ease-in-out;
}

@keyframes fade-out-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

button {
  cursor: pointer;
}

#finix-form-container {
  height: 100% !important;
  display: flex;
  flex-direction: column;
}

#form #finix-form-container #finix-submit-button {
  margin-top: auto !important;
  background-color: var(--primary-color) !important;
  border-radius: 999px !important;
  font-size: 0 !important;
  height: unset !important;
  line-height: 1.5rem !important;
}
#form #finix-form-container #finix-submit-button::after {
  content: "Save";
  display: inline-block;
  font-size: 1rem;
  height: unset !important;
  padding: 0.375rem 0 0.375rem 0 !important;
  line-height: 1.75rem !important;
}

.date-selector .Calendar {
  max-width: none !important;
}

.Mui-selected {
  background-color: var(--primary-color) !important;
}

.shepherd-enabled.shepherd-element {
  margin-top: 10px !important;
}

.nextbutton {
  background-color: green;
}

.input-phone-number input {
  padding-left: 0.5rem !important;
  height: 2.5rem !important;
}

.selected-flag .flag {
  background-image: none;
  height: 24px;
  width: 36px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -14px !important;
  border-radius: 3px;
  left: -5px;
  .arrow {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #555;
    left: 40px;
  }
  .arrow.up {
    border-bottom: 6px solid #555;
  }
}
.flag-dropdown .selected-flag,
.flag-dropdown.open .selected-flag {
  background-color: unset !important;
}

[data-radix-popper-content-wrapper] {
  z-index: 9999 !important;
}
